<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<title>跟着爸3去西澳，测出你内心的净土</title>
		<meta name="description" content="爸爸去西澳找回了亲情的本真，那么你内心的本真会降落在哪里呢？">
		<link rel="stylesheet" type="text/css" href="assets/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="assets/style.css">
	</head>
	<body>
	<div class="body_wrap">

	<div class="loading">
		<span>Loading...</span>
	</div>

	<div class="wechat_thumbnail" style="width:0; height:0; overflow:hidden;"><img src="images/wechat_thumbnail.jpg"></div>


	<!-- 页面内容 begin -->
	<div class="swiper-container">

	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">

	        <!-- page begin -->
	        <div class="swiper-slide landing noSwipe">
	        	<img id="landing_bg2" src="images/landing_bg2.png">
	        	<img id="landing_bg" src="images/landing_bg.png">
	        	<div class="layout1">
		        	<img id="slogen" width="253" src="images/landing_slogen.png">
		        	<img id="landing_australia_shadow" width="244" src="images/landing_australia_shadow.png">
		        	<div class="australia">
			        	<img id="landing_australia" width="194" src="images/landing_australia.png">
			        	<img id="landing_route" width="134" src="images/landing_route.png">
			        	<img id="landing_outline" width="105" src="images/landing_outline.png">
			        	<img id="landing_arrow" width="21" src="images/landing_arrow.png">
		        	</div>
	        	</div>
	        	<img id="landing_family" width="196" src="images/landing_family.png">
	        	<div class="layout2">
		        	<p>爸爸去哪儿第三季选择来到西澳大利亚进行拍摄，爸爸和宝贝们远离了闹市喧嚣，来到这片净土不仅体验了土著生活，在旅途中也更加增进了彼此的了解，旅行本就是一次认识自己的过程！</p>
		        	<div class="australia2">
			        	<img class="start" id="landing_logo" width="270" src="images/landing_logo.png">
			        	<img id="landing_arrow2" width="21" src="images/landing_arrow.png">
		        	</div>
		        	<span>现在，跟随爸爸去哪儿的脚步<br>认识你内心的净土吧！</span>
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-1">
	        	<div class="item_group">
		        	<h1>旅行对你的意义是？</h1>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>A</i><span>体验不同文化</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>B</i><span>更加热爱生活</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>C</i><span>尝遍世界美食</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>D</i><span>征服未知世界</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>E</i><span>发朋友圈求赞</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>F</i><span>加强身体锻炼</span></a>
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-2">
	        	<div class="item_group">
		        	<h1>在计划西澳之旅的时候你最想参加的是？</h1>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>A</i><span>自驾房车看风景，沿途想停就停</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>B</i><span>跳伞俯瞰地貌，拥抱西澳风景</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>C</i><span>潜水看海底世界，与海洋生灵擦肩</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>D</i><span>徒步山道，穿梭丛林与海滨</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>E</i><span>骑着骆驼走沙滩，看日出日落</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>F</i><span>跟着土著人生活一天，体验原始生活</span></a>
		        </div>
		        <div class="photos">
		        	<div class="inner_wrap">
			        	<img id="quiz2_img1" width="152" src="images/quiz2_img1.jpg">
			        	<img id="quiz2_img2" width="129" src="images/quiz2_img2.jpg">
			        	<img id="quiz2_img3" width="156" src="images/quiz2_img3.jpg">
			        	<img id="quiz2_img4" width="101" src="images/quiz2_img4.jpg">
			        	<img id="quiz2_img5" width="159" src="images/quiz2_img5.jpg">
			        	<img id="quiz2_img6" width="147" src="images/quiz2_img6.jpg">
		        	</div>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-3">
	        	<div class="item_group">
		        	<h1>搭乘南航波音787梦想客机前往珀斯的时候，你会首先做什么？</h1>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>A</i><span>透过超大舷窗发呆看天际美景</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>B</i><span>学会使用酷炫的电控变色调光系统</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>C</i><span>由于机舱还原了西澳纯净空气和环境，所以舒服地睡着了</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>D</i><span>想到8小时5分钟后就能抵达，赶紧复习一遍旅行攻略</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>E</i><span>订个头等舱享受按摩座椅</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>F</i><span>打开机舱娱乐系统愉快地玩耍</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-4">
	        	<div class="item_group">
		        	<h1>刚刚抵达西澳首府珀斯，你首先会去？</h1>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>A</i><span>海滨小镇弗里曼特尔 (Fremantle)</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>B</i><span>墨累街购物中心 (Murray St Mall)</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>C</i><span>市内绿荫国王公园 (Kings Park)</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>D</i><span>葡萄酒产区天鹅谷 (Swan Valley)</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>E</i><span>文化中心北桥 (Northbridge)</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>F</i><span>与海豚共泳罗金厄姆 (Rockingham)</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-5">
	        	<div class="item_group">
		        	<h1>西澳有众多可爱动物，你最喜爱？</h1>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>A</i><span>呆到深处自然萌的考拉</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>B</i><span>身姿绰约的海豚</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>C</i><span>体型庞大却性格温和的鲸鲨</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>D</i><span>热爱微笑的短尾矮袋鼠</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>E</i><span>高贵优雅的黑天鹅</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>F</i><span>奋勇向前的鸸鹋</span></a>
		        </div>
		        <div class="animals">
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-6">
	        	<div class="item_group">
		        	<h1>你在玛格丽特河地区 (Margaret River Region) 有一天的时间，你会？</h1>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>A</i><span>在红门海滩 (Redgate Beach) 回味爸爸去哪儿的拍摄地</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>B</i><span>在海滨晒太阳发呆</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>C</i><span>在葡萄酒产区开始美食美酒之旅</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>D</i><span>在露营地举办烧烤派对</span></a>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>E</i><span>在森林里挑战山地自行车</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>F</i><span>在海里学习浮潜或是冲浪</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-7">
	        	<div class="item_group">
		        	<h1>选择住宿的时候，你会想要住在？</h1>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>A</i><span>把房车开到美景里入睡</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>B</i><span>在海滨搭一个帐篷看星星</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>C</i><span>隐匿山林的静谧度假村</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>D</i><span>交通方便的市区酒店</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>E</i><span>面朝葡萄园的复古酒庄</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>F</i><span>设备齐全的公寓式酒店</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-8">
	        	<div class="item_group">
		        	<h1>在西澳结束旅程的时候，你想买哪种伴手礼送给至亲？</h1>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>A</i><span>布鲁姆 (Broome) 珍珠</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>B</i><span>阿盖尔粉钻 (Argyle Pink Diamond)</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>C</i><span>玛格丽特河地区的葡萄酒</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>D</i><span>土著文化艺术品</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>E</i><span>手工牛轧糖、蜂蜜皂等</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>F</i><span>西澳小动物形象的毛绒玩具</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide quiz quiz-9">
	        	<div class="item_group">
		        	<h1>你最喜爱的颜色是？</h1>
		        	<a class="quiz_item clearfix" rel="4" href="javascript:;"><i>A</i><span>尖峰石阵沙漠 (Pinnacles Desert) 的黄色</span></a>
		        	<a class="quiz_item clearfix" rel="3" href="javascript:;"><i>B</i><span>美味石龙虾 (Rock Lobster) 的大红色</span></a>
		        	<a class="quiz_item clearfix" rel="6" href="javascript:;"><i>C</i><span>兰斯林 (Lancelin) 沙丘的雪白</span></a>
		        	<a class="quiz_item clearfix" rel="2" href="javascript:;"><i>D</i><span>朱里恩湾 (Jurien Bay) 的蓝色</span></a>
		        	<a class="quiz_item clearfix" rel="1" href="javascript:;"><i>E</i><span>希利尔湖 (Lake Hillier) 的粉色</span></a>
		        	<a class="quiz_item clearfix" rel="5" href="javascript:;"><i>F</i><span>野花的五彩缤纷</span></a>
		        </div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-1 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result1.jpg">
			        		<h1>国王公园</h1>
			        		<span>Kings Park</span>
		        		</div>
		        		<p>夏天虽然是公认的小公主，却完全没有高傲的架子，就像珀斯的国王公园，虽然自称“国王”却完全没有高冷，市区中的庞大丛林步行可至！你的内心犹如国王公园一般真诚，下次来西澳不妨和朋友们在这里跑步、野餐，或者带着孩子来学骑自行车都可以玩得十分尽兴！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar1.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-2 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result2.jpg">
			        		<h1>罗特尼斯岛</h1>
			        		<span>Rottnest Island</span>
		        		</div>
		        		<p>诺一的笑容被大家称为“傻白甜”，罗特尼斯岛上有一群岛主每天都这么“傻白甜”地微笑着，那就是短尾矮袋鼠Quokka！你的内心就像这座不允许汽车驶入的岛屿，纯净美丽，下次来西澳不妨来罗特尼斯岛，和可爱的Quokka交朋友吧！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar2.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-3 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result3.jpg">
			        		<h1>幸运湾</h1>
			        		<span>Lucky Bay</span>
		        		</div>
		        		<p>轩轩虽然是个不拘小节的小胖墩，但是他爱美的内心也是十分渴望大家关注的，就像幸运湾，隐匿在澳大利亚黄金内陆，却拥有出乎意料的洁白海滩和蔚蓝海洋，这里的袋鼠非常平易近人，喜欢亲近人类，甚至可以陪你在沙滩上睡午觉。下次来西澳一定要来幸运湾和这些有点寂寞的袋鼠交朋友！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar3.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-4 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result4.jpg">
			        		<h1>宁加洛珊瑚礁</h1>
			        		<span>Ningaloo Reef</span>
		        		</div>
		        		<p>康康被大家称为“霸道总裁”，看似漠不关心窗外事的外表下其实藏着一颗非常乐于助人的温暖内心，就像宁加洛珊瑚礁的鲸鲨，这种世界上体型最大型的鱼类，一般体长在10米左右，看着名字也很吓人，却拥有温柔的内心，不仅不会伤害人类，还能与你在海底共泳！下次来西澳一定要来看看这些温柔的大块头哦！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar4.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-5 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result5.jpg">
			        		<h1>玛格丽特河</h1>
			        		<span>Margaret River</span>
		        		</div>
		        		<p>大竣特别爱干净，非常注重细节，就像玛格丽特河葡萄酒产区的众多精品酒庄，孜孜不倦精益求精。这些酒庄不仅执着于使用有机的酿制方法，在种植葡萄的过程中更是严格遵从“自然动力”，保证每一滴酒的纯净和健康！下次来西澳一定要试试这里的葡萄酒，让你一口倾心！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar5.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	        <!-- page begin -->
	        <div class="swiper-slide result result-6 noSwipe">
	        	<div class="inner_wrap">
		        	<h2>你内心的净土是：</h2>
		        	<div class="card">
		        		<div class="img">
			        		<img src="images/pic_result6.jpg">
			        		<h1>波浪岩</h1>
			        		<span>Wave Rock</span>
		        		</div>
		        		<p>王宝强让人熟知的是他谐星的一面，却不知他背后拥有扎实的武术功底，百屈不挠的性格犹如波浪岩一般，15米高100米宽的雄伟巨大波浪形花岗岩石，仿佛是将会随时拍打周围的浪花，这一奇景经历了3亿年的大自然打磨才逐渐形成！下次来西澳一定要来看看这里座大自然的鬼斧神工！作为中国大陆唯一直飞珀斯的航空公司，中国南方航空特别采用波音787梦想机型，邀你来西澳尽情玩耍！</p>
		        	</div>
		        	<img class="avatar" src="images/avatar6.png">
		        	<a class="share" href="javascript:;">分享炫耀一下</a>
		        	<img class="logo" src="images/main_logo.png">
	        	</div>
	        </div>
	        <!-- page end -->

	    </div>

	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	</div>
	<!-- 页面内容 end -->


	<div class="share_mask"><img width="152" src="images/share_tip.png"></div>

	<script type="text/javascript" src="assets/zepto.min.js"></script>
	<script type="text/javascript" src="assets/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="assets/TweenMax.min.js"></script>
	<script type="text/javascript" src="assets/functions.js"></script>

	</div>
	</body>
</html>
